body { margin: 0; overflow: hidden; font-family: sans-serif; user-select: none; touch-action: none; }
#game-container { position: absolute; width: 100%; height: 100%; }

.crosshair {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: white; font-size: 24px; pointer-events: none;
}

/* Controlos de Direção */
.movement-controls {
    position: absolute; bottom: 30px; left: 30px;
    display: flex; flex-direction: column; align-items: center;
}
.side-btns { display: flex; gap: 40px; }
.dbtn {
    width: 60px; height: 60px; background: rgba(255,255,255,0.2);
    border: 2px solid white; border-radius: 10px;
    display: flex; align-items: center; justify-content: center;
    color: white; font-size: 30px;
}

/* Botões de Ação (Pulo e Shift) */
.action-buttons {
    position: absolute; bottom: 30px; right: 30px;
    display: flex; flex-direction: column; gap: 15px;
}
.action-btn {
    width: 100px; height: 60px; background: rgba(255,255,255,0.2);
    border: 2px solid white; border-radius: 10px;
    display: flex; align-items: center; justify-content: center;
    color: white; font-weight: bold;
}

/* Hotbar */
.hotbar {
    position: absolute; bottom: 10px; left: 50%;
    transform: translateX(-50%); display: flex;
    background: rgba(0,0,0,0.5); padding: 5px; border: 2px solid #333;
}
.slot {
    width: 45px; height: 45px; border: 2px solid #555;
    margin: 2px; display: flex; align-items: center; justify-content: center;
}
.slot.selected { border-color: white; background: rgba(255,255,255,0.2); }
.slot img { width: 80%; height: 80%; image-rendering: pixelated; }
