body { margin: 0; overflow: hidden; font-family: sans-serif; user-select: none; touch-action: none; background: #000; }
#game-container { position: absolute; width: 100%; height: 100%; z-index: 1; }

#ui { 
    position: absolute; width: 100%; height: 100%; 
    top: 0; left: 0; pointer-events: none; z-index: 10; 
}
/* Permite clicar apenas nos botões dentro da UI invisível */
#ui .mc-btn, #ui .slot { pointer-events: auto; }

.mc-btn {
    width: 60px; height: 60px;
    background-color: #8b8b8b;
    border: 4px solid;
    border-color: #dbdbdb #555555 #555555 #dbdbdb; 
    display: flex; align-items: center; justify-content: center;
    color: white; font-size: 25px;
    font-family: monospace;
    box-shadow: 2px 2px 0px #000;
}

.mc-btn:active:not(.active) {
    border-color: #555555 #dbdbdb #dbdbdb #555555;
    transform: translate(2px, 2px);
    background-color: #7a7a7a;
}

.mc-btn.active {
    background-color: #b0b0b0;
    border-color: #ffffff;
    box-shadow: inset 0 0 10px #ffffff;
}

.movement-controls {
    position: absolute; bottom: 30px; left: 30px;
    display: grid;
    grid-template-areas: 
        ". up ."
        "left sneak right"
        ". down .";
}
#btn-up { grid-area: up; }
#btn-left { grid-area: left; }
#btn-shift { grid-area: sneak; font-size: 14px; }
#btn-right { grid-area: right; }
#btn-down { grid-area: down; }

.action-buttons { position: absolute; bottom: 50px; right: 40px; }
.jump-btn { width: 80px; height: 80px; font-size: 16px; font-weight: bold; }

.hotbar {
    position: absolute; bottom: 10px; left: 50%;
    transform: translateX(-50%);
    display: flex; background: rgba(0,0,0,0.5);
    padding: 3px; border: 3px solid #333;
}
.slot {
    width: 45px; height: 45px; border: 3px solid #8b8b8b;
    margin: 1px; display: flex; align-items: center; justify-content: center;
    background: #8b8b8b;
}
.slot.selected { border-color: #ffffff; box-shadow: inset 0 0 5px #fff; background: #aaa; }
.slot img { width: 80%; height: 80%; image-rendering: pixelated; }

.crosshair {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    color: white; font-size: 24px; pointer-events: none; opacity: 0.8;
}

#breaking-bar-container {
    position: fixed; top: 60%; left: 50%; transform: translate(-50%, -50%);
    width: 120px; height: 10px; border: 2px solid #000; background: #333; display: none; z-index: 20;
}
#breaking-bar-progress { width: 0%; height: 100%; background: #ffff00; }
