body {
    margin: 0;
    overflow: hidden;
    background: #000;
    touch-action: none;
    font-family: sans-serif;
}

#game-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    z-index: 5;
    pointer-events: none;
}

/* BOTÕES ESTILO MINECRAFT */
.dbtn, #btn-jump {
    width: 60px;
    height: 60px;
    background-color: #8B8B8B;
    border: 4px solid #000;
    border-top-color: #DBDBDB;
    border-left-color: #DBDBDB;
    border-bottom-color: #404040;
    border-right-color: #404040;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    user-select: none;
    font-size: 20px;
}

/* Efeito de apertado */
.dbtn:active, #btn-jump:active {
    background-color: #404040;
    border-top-color: #000;
    border-left-color: #000;
    border-bottom-color: #DBDBDB;
    border-right-color: #DBDBDB;
    padding-top: 4px;
}

#dpad {
    position: fixed;
    bottom: 40px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.dpad-horizontal {
    display: flex;
    gap: 60px; /* Espaço para o meio do dpad */
}

#btn-jump {
    position: fixed;
    bottom: 80px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    z-index: 10;
}

/* HOTBAR ESTILO MINE */
#hotbar {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background: #8B8B8B;
    border: 4px solid #000;
    padding: 2px;
    z-index: 15;
}

.slot {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #404040;
    margin: 2px;
    background: #8B8B8B;
}

.slot.selected {
    border-color: #FFFFFF;
    background: #AAAAAA;
}
