body { margin: 0; overflow: hidden; touch-action: none; background: #000; }

#ui { 
    position: absolute; width: 100%; height: 100%; 
    top: 0; left: 0; pointer-events: none; 
    z-index: 10;
}
#ui * { pointer-events: auto; }

/* ESTILO DOS BOTÕES IGUAL À FOTO */
.mc-btn {
    width: 65px; height: 65px;
    background-color: #8b8b8b; /* Cinza Minecraft */
    border: 4px solid;
    border-color: #dbdbdb #555555 #555555 #dbdbdb; /* Efeito de relevo */
    display: flex; align-items: center; justify-content: center;
    color: white; font-size: 30px;
    font-family: monospace;
    position: relative;
    box-shadow: 2px 2px 0px #000;
}

.mc-btn:active {
    border-color: #555555 #dbdbdb #dbdbdb #555555; /* Inverte o relevo ao clicar */
    transform: translate(2px, 2px);
    background-color: #7a7a7a;
}

/* D-PAD (Lado Esquerdo) */
.movement-controls {
    position: absolute; bottom: 30px; left: 30px;
    display: grid;
    grid-template-areas: 
        ". up ."
        "left sneak right"
        ". down .";
    gap: 2px;
}
#btn-up { grid-area: up; }
#btn-left { grid-area: left; }
#btn-shift { grid-area: sneak; font-size: 15px; } /* Sneak no meio */
#btn-right { grid-area: right; }
#btn-down { grid-area: down; }

/* BOTÃO DE PULO (Lado Direito) */
.action-buttons {
    position: absolute; bottom: 50px; right: 40px;
}
.jump-btn {
    width: 85px; height: 85px;
    font-size: 18px; font-weight: bold;
}

/* HOTBAR */
.hotbar {
    position: absolute; bottom: 10px; left: 50%;
    transform: translateX(-50%);
    display: flex; background: rgba(0,0,0,0.5);
    padding: 2px; border: 4px solid #333;
}
.slot {
    width: 45px; height: 45px; border: 3px solid #8b8b8b;
    margin: 1px; display: flex; align-items: center; justify-content: center;
    background: #8b8b8b;
}
.slot.selected { border-color: #ffffff; box-shadow: inset 0 0 5px #fff; }
.slot img { width: 80%; height: 80%; image-rendering: pixelated; }

.crosshair {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    color: white; font-size: 24px; pointer-events: none;
}
