body { margin: 0; overflow: hidden; font-family: sans-serif; user-select: none; }
#game-container { position: absolute; top: 0; width: 100%; height: 100%; }

/* Barra de Quebra Estilo Mine */
#breaking-bar-container {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 8px;
    border: 2px solid #000;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 100;
}
#breaking-bar-progress {
    width: 0%;
    height: 100%;
    background: #ffff00;
}

.ui { position: absolute; width: 100%; height: 100%; pointer-events: none; }
.mc-btn, .slot { pointer-events: auto; background: rgba(0,0,0,0.4); border: 2px solid #fff; color: white; }

.controls { position: absolute; bottom: 20px; left: 20px; display: flex; flex-direction: column; align-items: center; }
.side-btns { display: flex; gap: 40px; }
.mc-btn { width: 50px; height: 50px; font-size: 20px; }
.mc-btn.active { background: rgba(255, 255, 255, 0.5); color: black; }

.action-btns { position: absolute; bottom: 20px; right: 20px; display: flex; flex-direction: column; gap: 10px; }

.hotbar { position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); display: flex; gap: 5px; }
.slot { width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; font-size: 24px; cursor: pointer; }
.slot.selected { border-color: yellow; background: rgba(255,255,255,0.2); }
