body {
    margin: 0;
    overflow: hidden;
    background: #000;
    touch-action: none;
    font-family: sans-serif;
}

#game-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* MIRA NO MEIO */
#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    z-index: 50;
    pointer-events: none;
    user-select: none;
}

/* SISTEMA DE CONTROLES (DPAD) */
#dpad {
    position: fixed;
    bottom: 30px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.dpad-horizontal {
    display: flex;
    gap: 65px; /* Espaço para alinhar as setas em cruz */
    margin: -5px 0;
}

/* BOTÃO DE PULO */
#btn-jump {
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 80px;
    height: 80px;
    z-index: 100;
}

/* ESTILO DOS BOTÕES (MINECRAFT UI) */
.dbtn, #btn-jump {
    background-color: #8B8B8B;
    border: 4px solid #000;
    border-top-color: #DBDBDB;
    border-left-color: #DBDBDB;
    border-bottom-color: #404040;
    border-right-color: #404040;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
    pointer-events: auto;
}

.dbtn { width: 60px; height: 60px; }

/* Efeito ao clicar */
.dbtn:active, #btn-jump:active {
    background-color: #404040;
    border-top-color: #000;
    border-left-color: #000;
    border-bottom-color: #DBDBDB;
    border-right-color: #DBDBDB;
    padding-top: 4px;
}

/* HOTBAR */
#hotbar {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background: #8B8B8B;
    border: 4px solid #000;
    padding: 2px;
    z-index: 100;
    pointer-events: auto;
}

.slot {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #404040;
    margin: 2px;
    background: #8B8B8B;
    font-size: 20px;
}

.slot.selected {
    border-color: #FFFFFF;
    background: #AAAAAA;
}
